<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" >
  <title>Hospital da FAP | Há 50 anos, vidas cuidando de vidas.</title>
      <link rel="icon" type="image/png" href="assets/img/favicon.png">

      <!-- Metadata facebook -->      
      <meta property="og:title" content="Hospital da FAP"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="http://www.hospitaldafap.org.br"/>
      <meta property="og:image" content="http://www.hospitaldafap.org.br/assets/img/logo.png"/>
      <meta property="og:description" content="A Fundação Assistencial da Paraíba – FAP é uma Entidade Filantrópica, fundada em abril de 1965, na cidade de Campina Grande..." />
      <meta property="og:site_name" content="http://www.hospitaldafap.org.br"/>
      <meta property="og:admins" content="100001022748310"/>


      <link rel="stylesheet" href="assets/css/components.css">
      <link rel="stylesheet" href="assets/css/responsee.css">
      <link rel="stylesheet" href="assets/css/icons.css">

      <!-- CUSTOM STYLE -->
      <link rel="stylesheet" href="assets/css/template-style.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>  
      <script type="text/javascript" src="assets/js/template-scripts.js"></script> 
   </head>
   <body class="size-1140">
      <section>
         <!-- Currículo -->
         <div id="curriculo">
            <div class="line">
               <div class="margin">
                  <div class="s-12 m-12 l-5">
                  </div>                
               </div>
            </div>
         </div>  
      </section>
      <script type="text/javascript" src="assets/js/responsee.js"></script>
   </body>
</html>
