<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
   <head>
      <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" >
	<title>Hospital da FAP | Há 50 anos, vidas cuidando de vidas.</title>
      <link rel="icon" type="image/png" href="assets/img/favicon.png">

      <!-- Metadata facebook -->      
      <meta property="og:title" content="Hospital da FAP"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="http://www.hospitaldafap.org.br"/>
      <meta property="og:image" content="http://www.hospitaldafap.org.br/assets/img/logo.png"/>
      <meta property="og:description" content="A Fundação Assistencial da Paraíba – FAP é uma Entidade Filantrópica, fundada em abril de 1965, na cidade de Campina Grande..." />
      <meta property="og:site_name" content="http://www.hospitaldafap.org.br"/>
      <meta property="og:admins" content="100001022748310"/>

      <!-- Include the Angular JS library -->
      <script type="text/javascript" src="assets/js/angular.min.js"></script>
      <script type="text/javascript" src="assets/js/angular-route.js"></script>

      <!-- Angular Module -->
      <script type="text/javascript" src="angular/model/app.js"></script>

      <!-- Angular Controller -->
      <script type="text/javascript" src="angular/controller/CarouselCtrl.js"></script>


      <link rel="stylesheet" href="assets/css/components.css">
      <link rel="stylesheet" href="assets/css/responsee.css">
      <link rel="stylesheet" href="assets/css/icons.css">

      <!-- CUSTOM STYLE -->
      <link rel="stylesheet" href="assets/css/template-style.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>  
      <script type="text/javascript" src="assets/js/template-scripts.js"></script> 
      <script type="text/javascript" >
        function postContactToGoogle() {
          var imagem=$('#imagem').val();
          var email=$('#emailCurr').val();
          var nome=$('#nomeCurr').val();
          var sobre=$('#sobre').val();
          var rg=$('#rg').val();
          var cpf=$('#cpf').val();
          var telefone=$('#telefoneCurr').val();
          var dataNascimento=$('#dataNascimento').val();
          var sexo=$('#sexo').val();
          var endereco=$('#endereco').val();
          var numero=$('#numero').val();
          var bairro=$('#bairro').val();
          var cidade=$('#cidade').val();
          var uf=$('#uf').val();
          var estadoCivil=$('#estadoCivil').val();
          var cursoSuperior=$('#cursoSuperior').val();
          var cnh=$('#cnh').val();
          var estagioPretendido=$('#estagioPretendido').val();
          var salario=$('#salario').val();
          var experiencia=$('#experiencia').val();

          $.ajax({
            url:"https://docs.google.com/forms/d/e/1FAIpQLScSaoUp-wDLx6jXgL7QgVFQRfCDloXgDUOH5b-qFHGNbSGA-g/formResponse",
            data:{"entry.1061801719":imagem,"entry.838954371":email,"entry.654028344":nome,"entry.755361509":sobre,"entry.997583742":rg,"entry.389714736":cpf,"entry.1583419553":telefone,"entry.20110533":dataNascimento,"entry.1791631358":sexo,"entry.853935702":endereco,"entry.2118242687":numero,"entry.1318541652":bairro,"entry.715143348":cidade,"entry.1239126704":uf,"entry.810188153":estadoCivil,"entry.508649097":cursoSuperior,"entry.706507636":cnh,"entry.1119154775":estagioPretendido,"entry.305035830":salario,"entry.760886595":experiencia},
            type:"POST",
            dataType:"xml",
            statusCode: {
              0:function() { console.log("error");},
              200:function(){window.location.replace("thankyou.html");}
            }
          });
        }
      </script>
   </head>
   <body class="size-1140">
      <!-- TOP NAV WITH LOGO -->
      <header>
         <div id="topbar">
            <div class="line">
               <div class="s-12 m-6 l-6">
                  <p>Tel: <strong>083-2102-0300</strong> | <strong>R. Dr. Francisco Pinto Oliveira, S/N - Bodocongó, Campina Grande - PB</strong></p>
               </div>
               <div class="s-12 m-6 l-6">
                  <div class="social right">
                     <a href="https://www.facebook.com/HospitalFAP/?fref=ts"><i class="icon-facebook_circle"></i></a> 
                     <a href="https://twitter.com/hospitaldafap"><i class="icon-twitter_circle"></i></a>
                  </div>
               </div> 
         </div> 
         
         <nav>
            <div class="line">
               <div class="s-12 l-2">
                  <a href="index.html"><img class="logo" src="assets/img/logo.png"></img></a>
                  
               </div>                  
               <div class="top-nav s-12 l-10">
                  <h2 class="nav-text" style="color: #a3a4a6">Menu</h2>
                  <ul class="right">
                     <li><a href="index.html#carousel" style="color: #a3a4a6">Início</a></li>
                     <li><a href="index.html#about-us" style="color: #a3a4a6">Sobre</a></li>
                     <li><a href="index.html#contact" style="color: #a3a4a6">Contatos</a></li>
                     <li><a href="index.html#books" style="color: #a3a4a6">books</a></li>
                     <li><a href="curriculo.html" style="color: #a3a4a6">Trabalhe conosco</a></li>

                     
                  </ul>
            
            </div>
         </nav>
         <div id="btn-doe">
               <a href="http://hospitaldafap.org.br/doe" target="_blank"><img src="assets/img/doe-lado2.png"></img></a>
          </div>
      </header>  

      <section>
         <!-- Currículo -->
         <div id="curriculo">
            <div class="line">
               <div class="margin">
                  <div class="s-12 m-12 l-5">
                    <h3>Mande um e-mail</h3>
                    <form class="customform" accept-charset="UTF-8"> 
                      <div class="s-12"><input id="imagem" name="imagem" placeholder="Link da Imagem do Perfil" title="imagem" type="text" required /></div>

                      <div class="s-12"><input id="emailCurr" name="emailCurr" placeholder="E-mail" title="E-mail" type="text" required /></div>
                      <div class="s-12"><input id="nomeCurr" name="nomeCurr" placeholder="Nome completo" title="Nome" type="text" required /></div>
                      <div class="s-12"><textarea id="sobre" placeholder="Sobre" name="sobre" rows="5" required ></textarea></div>
                      <div class="s-12"><input id="rg" name="rg" placeholder="RG (apenas números)" title="rg" type="text" required /></div>
                      <div class="s-12"><input id="cpf" name="cpf" placeholder="CPF (apenas números)" title="cpf" type="text" required /></div>
                      <div class="s-12"><input id="telefoneCurr" name="telefoneCurr" placeholder="Telefone" title="Telefone" type="text" required /></div>
                      <div class="s-12"><input id="dataNascimento" name="dataNascimento" placeholder="Data de nascimento" title="dataNascimento" type="date" required /></div>
                      <div class="s-12"><input id="sexo" name="sexo" placeholder="Sexo" title="sexo" type="text" required /></div>
                      <div class="s-12"><input id="endereco" name="endereco" placeholder="Endereço" title="endereco" type="text" required /></div>
                      <div class="s-12"><input id="numero" name="numero" placeholder="Número" title="numero" type="text" required /></div>
                      <div class="s-12"><input id="bairro" name="bairro" placeholder="Bairro" title="bairro" type="text" required /></div>
                      <div class="s-12"><input id="cidade" name="cidade" placeholder="Cidade" title="cidade" type="text" required /></div>
                      <div class="s-12"><input id="uf" name="uf" placeholder="UF" title="uf" type="text" required /></div>
                      <div class="s-12"><input id="estadoCivil" name="estadoCivil" placeholder="Estado civil" title="estadoCivil" type="text" required /></div>
                      <div class="s-12"><input id="cursoSuperior" name="cursoSuperior" placeholder="Se você tem curso superior, responda qual" title="cursoSuperior" type="text" /></div>

                      <div class="s-12"><p>CNH: </p><select id="cnh" name="cnh" title="cnh" type="text" required>
                        <option value=""> </option>
                        <option value="Não tenho" id="cbf37">Não tenho</option>
                        <option value="Classe A" id="cbf38">Classe A</option>
                        <option value="Classe A/B" id="cbf39">Classe A/B</option>
                        <option value="Classe B" id="cbf40">Classe B</option>
                        <option value="Classe C" id="cbf41">Classe C</option>
                        <option value="Classe D" id="cbf42">Classe D</option>
                        <option value="Classe E" id="cbf43">Classe E</option>
                      </select></div>

                      <div class="s-12"><p>Estágio Pretendido: </p><select id="estagioPretendido" name="estagioPretendido" title="estagioPretendido" type="text" required>
                        <option value=""> </option>
                        <option value="Estágio remunerado" id="cbf34">Estágio remunerado</option>
                        <option value="Estágio não remunerado" id="cbf35">Estágio não remunerado</option>
                        <option value="Não tenho interesse" id="cbf36">Não tenho interesse</option>
                      </select></div>

                      <div class="s-12"><p>Salário: </p><select id="salario" name="salario" title="salario" type="text" required>
                        <option value=""> </option>
                        <option value="Até um salário mínimo" id="cbf28">Até um salário mínimo</option>
                        <option value="Um salário mínimo a R$ 1.000,00" id="cbf29">Um salário mínimo a R$ 1.000,00</option>
                        <option value="R$ 1.000,00 a R$ 2.000,00" id="cbf30">R$ 1.000,00 a R$ 2.000,00</option>
                        <option value="R$ 2.000,00 a R$ 3.000,00" id="cbf31">R$ 2.000,00 a R$ 3.000,00</option>
                        <option value="Acima de R$ 3.000,00" id="cbf32">Acima de R$ 3.000,00</option>
                        <option value="A combinar" id="cbf33">A combinar</option>
                      </select></div>
                  
                      <div class="s-12"><textarea id="experiencia" placeholder="Experiência profissional/empresa" name="experiencia" rows="5" required ></textarea></div>
                      <div class="s-12 m-12 l-4"><button class="color-btn" type="submit" value="Send" onclick="postContactToGoogle()">Enviar</button></div>
                      <div class="s-12 m-12 l-4"><button class="color-btn" type="reset" value="Reset">Resetar</button></div>
                    </form>
                  </div>                
               </div>
            </div>
         </div>  
      </section>
      <!-- FOOTER -->
      <footer>
         <div class="line">
            <div class="s-12 l-6">
               <p>Copyright 2016, <a href="https://br.linkedin.com/in/tatianasaturno">Tatiana Saturno da Silva</a></p>
               <p><a href="https://www.myresponsee.com/">Template de Responsee Team</a></p>
            </div>
         </div>
      </footer>
      <script type="text/javascript" src="assets/js/responsee.js"></script>
   </body>
</html>
