<!-- ABOUT US -->
         <div id="contact">

            <div class="line">
            <div class="s-12 m-12 l-6 media-container">
               <img src="assets/img/energisa.jpg" alt="">
            </div>
               <div class="margin">
                  <div class="s-12 m-12 l-4 margin-bottom right-align">
                     <h3>Doações através da Caixa Econômica Federal</h3>
                     <address>
                        <p><strong>Agência:</strong> 0041</p>
                        <p><strong>Conta corrente:</strong> 8000-2</p>
                     </address>
                     <br />
                  </div>                
               </div>
            </div>
         </div>